#management:
#  endpoints:
#    web:
#      exposure:
#        include: '*'

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/learn_spring_boot
    password: Welcome+123
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
    show-sql: true